// Menú principal 
nav
	ul.c-nav-1
		li(class={active: activePage == '/index'})
			a.icon-home(href="/"): span Inicio
			if activePage == '/index'
				i.icon-active.icon-arrow-right3

		li(class={active: activePage == '/blog'})
			a.icon-mic2(href="/blog.html"): span Blog
			if activePage == '/blog'
				i.icon-active.icon-arrow-right3
					
		li(class={active: activePage == '/contacto'})
			a.icon-envelop(href="/contacto.html"): span Contacto
			if activePage == '/contacto'
				i.icon-active.icon-arrow-right3

// /Menú principal 
